<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082211596889-sj4oosas03bkihv1l0b6v0nrktsu3ftv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082211596889-sj4oosas03bkihv1l0b6v0nrktsu3ftv</string>
	<key>API_KEY</key>
	<string>AIzaSyCU9PP5pFuNbDbZkeVlcO-f_OSOjQQrRUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1082211596889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.Shoog.porgct-1</string>
	<key>PROJECT_ID</key>
	<string>habhoob-2088c</string>
	<key>STORAGE_BUCKET</key>
	<string>habhoob-2088c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082211596889:ios:b8de95d7a4441e278e4f48</string>
</dict>
</plist>